@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');

.font-custom {
    font-family: 'Cormorant Garamond', serif;
}
.font-custom2{
    font-family: 'Cormorant Garamond', serif;
}

.bg-green{
    background-color: #123525
}
*{
    scrollbar-width: none;
}